<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735700651958-jkqc044i3ekv9irudjelv9k8rhf7ma51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735700651958-jkqc044i3ekv9irudjelv9k8rhf7ma51</string>
	<key>API_KEY</key>
	<string>AIzaSyBHoFyq8g1wPRhRNhx91bTR1lnBe1qjR9c</string>
	<key>GCM_SENDER_ID</key>
	<string>735700651958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelia</string>
	<key>PROJECT_ID</key>
	<string>hotelia-dfd85</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelia-dfd85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735700651958:ios:d3c41c0f97e95f8a0bbb17</string>
	<key>DATABASE_URL</key>
	<string>https://hotelia-dfd85-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>